/* Footer Area css
============================================================================================ */

.footer_area {
    background: #021017;
    padding: 70px 0;
    position: relative;
	bottom: -26px;
    @media (max-width: 1024px) {
        padding: 60px 0;
    }
	
	 a.nav-link.text-white{
		
		color: white;
	
		&:hover {
    		color: $primary-color; 
		}
		
	}
		
	.logoFooter{
		img{
	
		&:hover {
    		-webkit-animation: swing 1s;
    		animation: swing 1s;
		}
			}
		
	}
    .footer_logo {
        text-align: center;
		
    }
    .footer_social {
        text-align: center;
        margin: 5px 0px 30px;
        a {
            display: inline-block;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            background: #ffffff;
            border-radius: 36px;
            color: $title-color;
            font-size: 16px;
            margin-right: 12px;
            @include transition();
            &:last-child {
                margin-right: 0px;
            }
            &:hover {
                @extend .gradient-bg;
                color: #ffffff;
            }
        }
    }
    .footer_bottom {
        text-align: center;
        p {
            margin-bottom: 0;
        }
        a {
            color: $primary-color;
        }
    }
}

/* End Footer Area css
============================================================================================ */