/*font Variables*/
$primary-font: 'Roboto', sans-serif;

/*Color Variables*/
$primary-color2 : #e01e5a;
$primary-color : #b90000;
$title-color    : #05364d;
$text-color     : #797979;
$offwhite       : #f8faff;
$white          : #fff;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
